<div style="margin:0 440px" data-sly-test="${wcmmode.edit || wcmmode.design}"><i>Please author keywords for news component</i></div>
<div class="col-md-12 col-md-offset-3">
<div data-sly-test="${properties.text}">
   <h1>
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp; ${properties.text}
   </h1>
</div>
</div>

<div id="news-tags" style="display:none">
${properties.tag1}|${properties.tag2}|${properties.tag3}|${properties.tag4}
</div>

<div data-sly-test="${properties.tag1}">
<div class="row" style="border:2px grey">
   <div class="col-md-3 col-md-offset-4">
      <!-- Nav tabs -->
      <!-- Nav tabs -->
      <ul class="nav nav-justified" role="tablist">
         <li role="presentation"class="active" ><a  href="#${properties.tag1}"aria-controls="${properties.tag1}" role="tab" data-toggle="tab"><span data-toggle="tooltip" data-placement="top" title="${properties.tag1}"  class="glyphicon glyphicon-star" aria-hidden="true"></span></a></li>
         <li role="presentation"><a href="#${properties.tag2}" aria-controls="${properties.tag2}" role="tab" data-toggle="tab"><span data-toggle="tooltip" data-placement="top" title="${properties.tag2}"  class="glyphicon glyphicon-globe" aria-hidden="true"></span></a></li>
         <li role="presentation"><a href="#${properties.tag3}"" aria-controls="${properties.tag3}" role="tab" data-toggle="tab"><span data-toggle="tooltip" data-placement="top" title="${properties.tag3}"  class="glyphicon glyphicon-king" aria-hidden="true"></span></a></li>
         <li role="presentation"><a href="#${properties.tag4}" aria-controls="${properties.tag4}" role="tab" data-toggle="tab"><span data-toggle="tooltip" data-placement="top" title="${properties.tag3}"  class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span></a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content" id ="news-data">
      </div>
   </div>
</div>
</div>